<table class="margin-top">
  <thead>
    <tr>
      <th class="name text-right"><%= t("admin.gamification.show.ranking_table.total_score") %></th>
      <th class="name text-right"><%= t("admin.gamification.show.ranking_table.score_1") %></th>
      <th class="name text-right"><%= t("admin.gamification.show.ranking_table.score_2") %></th>
      <th class="name text-right"><%= t("admin.gamification.show.ranking_table.score_3") %></th>
    </tr>
  </thead>
  <tbody>
    <tr id="ranking_1">
      <td class="name text-right">220</td>
      <td class="name text-right">190</td>
      <td class="name text-right">30</td>
      <td class="name text-right">0</td>
    </tr>
  </tbody>
</table>