<div id="participation_statistics">
  <%= render "shared/stats/participation/by_registered_projects", stats: stats, exportable: exportable %>
  <%= render "shared/stats/participation/by_population_segment", stats: stats, exportable: exportable %>
</div>
