<footer>

  <div>
    <%= image_tag(image_path_for("footer_end_line.svg"), alt: "Footer end line") %>
  </div>

  <div>
    <%= image_tag(image_path_for("pie_web.svg"), class: "", alt: "Generic placeholder image", style: "margin: 0 auto;") %>
  </div>

</footer>
