<%= back_link_to %>

<h2 class="margin-top">
  <% if @gamification.present? %>
    <%= t("admin.gamification.rewards.new.title", gamification: @gamification.key) %>
  <% else %>
    <%= t("admin.gamification.rewards.new.general_title") %>
  <% end %>
</h2>

<div class="gamification-reward-form">
  <%= render "form", form_url: admin_gamification_rewards_path %>
</div>
