// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

//  CUSTOM Settings
//  -----------------------------
//
//  Table of Contents:
//
//  1. Santander variables
//

// 1. Santander variables
// --------------------

$color-1:  	rgb(213, 132, 73);
$color-2: 	rgb(145, 192, 97);
$color-3:  	rgb(53, 129, 170);
$color-4:  	rgb(225, 175, 70);
$color-5:  	rgb(172, 203, 95);
$color-6:  	rgb(173, 211, 240);
$color-7:  	rgb(238, 211, 70);
$color-8: 	rgb(209, 222, 87);
$color-9: 	rgba(173, 211, 240, .6);
$color-10: 	rgb(39, 90, 118);

$green-1: $color-8;
$green-2: $color-5;
$green-3: $color-2;

$blue-1: $color-9;
$blue-2: $color-6;
$blue-3: $color-3;

$orange-1: $color-7;
$orange-2: $color-1;
$orange-3: $color-4;
