<% if I18n.available_locales.size > 1 %>
  <div class="locale" id="js-locale" data-current-locale="<%= I18n.locale %>">
    <form class="locale-form">

      <% I18n.available_locales.map do |loc| %>
        <%= link_to loc.upcase, current_path_with_query_params(locale: loc), class: ("selected" if loc == I18n.locale) %>
        <% if loc != I18n.available_locales.last %>
          <div class="delimiter"></div>
        <% end %>
      <% end %>

    </form>
  </div>
<% end %>
