<div class="row">
  <div class="small-12 medium-9 column margin-top">
      <div class="map inline">
        <h3 style="display: inline-block;"><%= t("proposals.index.map") %></h3>
        <%= render_map(nil, "proposals", false, nil, nil, true) %>
      </div>
  </div>

  <div class="small-12 medium-3 column">
    <aside class="sidebar">
      <%= link_to t("map.start_proposal"),
                  new_proposal_path, class: "button radius expand" %>
      <%= render "shared/tag_cloud", taggable: "proposal" %>
    </aside>
  </div>
</div>
