<div class="row section-content text-center">
  <div class="small-12 column">
    <h2 id="processes" data-magellan-target="processes">
      <%= t("pages.help.processes.title") %>
    </h2>

    <p>
      <% link = link_to(t("pages.help.processes.link"), legislation_processes_path) %>
      <%= sanitize(t("pages.help.processes.description", link: link)) %>
    </p>
    <div class="">
      <p>
        <% link_1 = link_to_signin %>
      </p>
      <p>
        <% link_2 = link_to(t("pages.help.processes.link"), legislation_processes_path) %>
      </p>
      <p>
        <%= sanitize(t("pages.help.processes.feature_1", link_1: link_1, link_2: link_2))%>
      </p>
    </div>
  </div>
</div>
